<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <link rel = "shortcut icon" href = "img/Logotipo Jurisquesti.png">
        <link rel = "stylesheet"    href = "css/estilo.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap" rel="stylesheet">
        <title>Jurisquesti - O Direito em Evolução!</title>
    </head>

    <body>
        
        <!-------------------- Cabeçalho ------------------->

        <header id = "cabecalho">
            <div class = "sociais-icones">
                <ul>
                    <li><a href = "#" class = "fa fa-instagram"></a></li>
                    <li><a href = "#" class = "fa fa-facebook"></a></li>
                    <li><a href = "#" class = "fa fa-youtube"></a></li>
                    <li><a href = "#" class = "fa fa-twitter"></a></li>
                </ul>
            </div>
            <div class = "menu-cabecalho">
                <div class = "logotipo">
                    <a href = "#premio-jurisquesti"><img src = "img/jurisquesti oficial.png"  alt = "Logotipo Jurisquesti"></a>
                </div>
                <div class = "lista-itens-menu">
                    <ul>
                        <li><a href = "#servicos-e-produtos">Premiações, Eventos & Cursos</a></li>
                        <li><a href = "#servicos-e-produtos">Revista Jurisquesti</a></li>
                        <li><a href = "#servicos-e-produtos">App Jurisquesti</a></li>
                    </ul>
                </div>
                <div class = "btn-informa">
                    <a href = "#cadastro-informacoes" class = "btn-informa-btn">Mantenha-me informado(a)</a>
                </div>
            </div>
        </header>

        <!-------------------- Cabeçalho ------------------->

        <main>

        <!---------------- Prêmio Jurisquesti --------------->

            <section id = "premio-jurisquesti">
                <div class = "lanca-premio">
                    <div class = "premio-artigo">
                        <h1 class = "lanca-juris">Lançamento do Prêmio Jurisquesti</h1>
                        <p class = "seara-juridica">O prêmio Jurisquesti é uma iniciativa criada com o intuito 
                            de valorizar artigos elaborados por profissionais da seara jurídica, assim como uma 
                            forma de proporcionar o conhecimento de tais conteúdos perante o público do Direito.</p>
                    </div>
                    <div class = "banner-premio">
                        <img src = "img/Banner do Premio Jurisquesti.png"  alt = "Premio Jurisquesti">
                        <a href = "#cadastro-informacoes" class = "btn-premio">Mais informações</a>
                    </div>
                </div>
            </section>

        <!---------------- Prêmio Jurisquesti --------------->

        <!---------------- Serviços & Produtos --------------->

            <section id = "servicos-e-produtos">
                <div class = "produtos-titulo">
                    <h2 class = "titulo-produtos">Serviços & Produtos</h2>
                </div>
                <div class = "produtos-lista">
                    <div class = "premia-eventos">
                        <img src = "img/jurisquesti icone 01.png" alt = "Icone da Lista">
                        <h3 class = "titulo-lista">Premiações, Eventos & Cursos</h3>
                        <p class = "lista-parag">O que se propõe é valorizar, desenvolver e aprimorar a escrita científica 
                            Dos indivíduos interessados.</p>
                        <a href = "#cadastro-informacoes"  class = "btn-lista">Saiba Mais</a>
                    </div>
                    <div class = "revista-cientifica">
                        <img src = "img/jurisquesti icone 02.png" alt = "Icone da Lista">
                        <h3 class = "titulo-lista">Revista Científica</h3>
                        <p class = "lista-parag">Trata-se de um informativo com explanações sobre os mais diversos temas do 
                            âmbito jurídico.</p>
                        <a href = "#cadastro-informacoes"  class = "btn-lista">Saiba Mais</a>
                    </div>
                    <div class = "aplicativo-jurisquesti">
                        <img src = "img/jurisquesti icone 03.png" alt = "Icone da Lista">
                        <h3 class = "titulo-lista">App Jurisquesti</h3>
                        <p class = "lista-parag">Aplicativo de conteúdo exclusivamente jurídico, para estudantes, profissionais
                            e concurseiros.</p>
                        <a href = "#cadastro-informacoes"  class = "btn-lista">Saiba Mais</a>
                    </div>
                </div>
            </section>

        <!---------------- Serviços & Produtos --------------->

        <!--------------- Cadastro de Informações -------------->

            <section id = "cadastro-informacoes">
                <div class = "informacoes-cadastro">
                    <div class = "preencha-campos">
                        <h2 class = "preencha-campos-1">Quer receber informações atualizadas?</h2>
                        <h2 class = "preencha-campos-1">Preencha os campos do formulário.</h2>
                    </div>
                    <div class = "ser-avisado">
                        <h1 class = "novidades">Quero ser avisado(a) das novidades!</h1>
                        <form>
                            <label for="name" class = "nome">Nome</label><br>
                            <input type="text" id="nome" name="fname"><br>
                            <label for="email" class = "email">Email</label><br>
                            <input type="text" id="email" name="lemail"><br><br>
                            <input type="submit" value="Enviar Dados">
                          </form>
                    </div>
                </div>
            </section>

        <!--------------- Cadastro de Informações -------------->

        </main>

        <!----------------------- Rodapé ----------------------->

        <footer id = "rodape">
            <div class = "logo-icone-seguro">
                <div class = "logotipo">
                    <a href = "#premio-jurisquesti"><img src = "img/jurisquesti oficial.png" alt = "Logotipo Jurisquesti"></a>
                </div>
                <ul>
                    <li><a href = "#" class = "fa fa-instagram"></a></li>
                    <li><a href = "#" class = "fa fa-facebook"></a></li>
                    <li><a href = "#" class = "fa fa-youtube"></a></li>
                    <li><a href = "#" class = "fa fa-twitter"></a></li>
                </ul>
                <a href = "/"><img src = "img/Site Seguro Cadeado.png" class = "seguro-cadeado" alt = "Logotipo site seguro"></a>
            </div>
            <hr>
            <div class = "termos-e-privacidade">
                <ul>
                    <li><a href = "/termos-de-uso">Termos de Uso&nbsp;</a></li>
                    <li><a href = "/politica-de-privacidade">&nbsp;Politica de Privacidade</a></li>
                </ul>
            </div>
            <p class = "dir-autorais">Jurisquesti - 2020@ Todos os direitos reservados.</h3>
        </footer>

        <!----------------------- Rodapé ----------------------->

    </body>
</html>