<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <link rel = "shortcut icon" href = "img/Logotipo Jurisquesti.png">
        <link rel = "stylesheet"    href = "css/politica-de-privacidade.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap" rel="stylesheet">
        <title>Jurisquesti - O Direito em Evolução!</title>
    </head>

    <body>

        <!-------------------- Cabeçalho ------------------->

        <header id = "cabecalho">
            <div class = "sociais-icones">
                <ul>
                    <li><a href = "https://www.instagram.com/jurisquesti/" class = "fa fa-instagram"></a></li>
                    <li><a href = "https://www.facebook.com/Jurisquesti-105919634832049" class = "fa fa-facebook"></a></li>
                    <li><a href = "https://www.youtube.com/channel/UC1fyhfGv-wP3jocQKcyqHGQ?guided_help_flow=5" class = "fa fa-youtube"></a></li>
                    <li><a href = "#" class = "fa fa-twitter"></a></li>
                </ul>
            </div>
            <div class = "menu-cabecalho">
                <div class = "logotipo">
                    <a href = "/"  class = "jurisquesti"><img src = "img/jurisquesti oficial.png"  alt = "Logotipo Jurisquesti"></a>
                </div>
            </div>
        </header>

        <!-------------------- Cabeçalho ------------------->
        
        <main>

        <!---------- Divisória de Politica de Privacidade -------->

        <section id = "politica-de-privacidade">
            <div class = "privacidade-politica">
                <img src = "img/icone termos privacidade.png" alt = "icone termos privacidade">
                <h2 class = "privacidade-titulo">Politica de Privacidade</h2>
                <p class = "privacidade-parag">A sua privacidade é importante para nós. É política do Jurisquesti respeitar a sua privacidade 
                    em relação a qualquer informação sua que possamos coletar no site Jurisquesti, e outros sites que possuímos e operamos.</p>
                <p class = "privacidade-parag">Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um 
                    serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos 
                    coletando e como será usado.</p>
                <p class = "privacidade-parag">Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. 
                    Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, 
                    divulgação, cópia, uso ou modificação não autorizados.</p>
                <p class = "privacidade-parag">Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto 
                    quando exigido por lei. O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que 
                    não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas 
                    políticas de privacidade.</p>
                <p class = "privacidade-parag">Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não 
                    possamos fornecer alguns dos serviços desejados.</p>
                <p class = "privacidade-parag">O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de 
                    privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, 
                    entre em contacto connosco.</p>
                <h3 class = "privacidade">Compromisso do Usuário</h3>
                <p class = "privacidade-parag">O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o Jurisquesti 
                    oferece no site e com caráter enunciativo, mas não limitativo:</p>
                <p class = "privacidade-parag">A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;</p>
                <p class = "privacidade-parag">B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, ou sobre cassinos, casas de 
                    apostas online (ex.: Betano), jogos de sorte e azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra 
                    os direitos humanos;</p>
                <p class = "privacidade-parag">C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do Jurisquesti, de seus 
                    fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software 
                    que sejam capazes de causar danos anteriormente mencionados.</p>
                <h3 class = "privacidade">Mais Informações</h3>
                <p class = "privacidade-parag">Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem 
                    certeza se precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que você usa 
                    em nosso site.</p>
                <p class = "privacidade-parag">Esta política é efetiva a partir de Janeiro/2021.</p>
            </div>
        </section>

        <!---------- Divisória de Politica de Privacidade -------->
        
        </main>

        <!----------------------- Rodapé ----------------------->

        <footer id = "rodape">
            <div class = "logo-icone-seguro">
                <div class = "logotipo">
                    <a href = "#premio-jurisquesti"><img src = "img/jurisquesti oficial.png" alt = "Logotipo Jurisquesti"></a>
                </div>
                <ul>
                    <li><a href = "https://www.instagram.com/jurisquesti/" class = "fa fa-instagram"></a></li>
                    <li><a href = "https://www.facebook.com/Jurisquesti-105919634832049" class = "fa fa-facebook"></a></li>
                    <li><a href = "https://www.youtube.com/channel/UC1fyhfGv-wP3jocQKcyqHGQ?guided_help_flow=5" class = "fa fa-youtube"></a></li>
                    <li><a href = "#" class = "fa fa-twitter"></a></li>
                </ul>
                <img src = "img/Site Seguro Cadeado.png" class = "seguro-cadeado" alt = "Logotipo site seguro">
            </div>
            <hr>
            <div class = "termos-e-privacidade">
                <ul>
                    <li><a href = "/termos-de-uso">Termos de Uso&nbsp;</a></li>
                    <li><a href = "/politica-de-privacidade">&nbsp;Politica de Privacidade</a></li>
                </ul>
            </div>
            <p class = "dir-autorais">Jurisquesti - 2020@ Todos os direitos reservados.</h3>
        </footer>

        <!----------------------- Rodapé ----------------------->


    </body>
</html>